# ===== FRAMEWORK GUI =====
streamlit>=1.30.0

# ===== XỬ LÝ DỮ LIỆU & AI (PYSPARK) =====
pyspark>=3.5.0
py4j>=0.10.9.7

# ===== KHOA HỌC DỮ LIỆU & TIỀN XỬ LÝ =====
pandas>=2.0.0
numpy>=1.24.0
pyarrow>=12.0.0
joblib
scikit-learn
plotly
matplotlib

# ===== HỖ TRỢ XỬ LÝ CHUỖI TIẾNG VIỆT =====
unicodedata2>=15.1.0
